# 开发环境 cmd/quic
QUIC_LISTEN_ADDR=0.0.0.0:4433
QUIC_NEXT_PROTOS=hq-29
SERVER_NODE_ID=local-1
QUIC_CLIENT_DIAL_ADDR=localhost:4433

GEOIP_DB_PATH=geodb/GeoLite2-City.mmdb

TLS_CERT_PATH=cert/cert.pem
TLS_KEY_PATH=cert/key.pem
